<div class="footer">
  <div class="links">
    <ul class="links-list">
      <li><%= link_to "Contact", '/contact', class: 'first-item' %></li>
      <li><%= link_to "LinkedIn", 'https://www.linkedin.com/in/ammy-varela-rodriguez/
', target: '_blank' %></li>
      <li><%= link_to "Github", '/' %></li>
    </ul>
  </div>
</div>
