<div class="footer">
  <div class="links">
    <%= link_to "Contact", '/contact' %>
    <%= link_to "LinkedIn", 'https://www.linkedin.com/in/ammy-varela-rodriguez/
' %>
    <%= link_to "Github", '/' %>
  </div>
</div>
