<div class="container">
  <!-- <div class="home-img"> -->
    <%= image_tag('home-image2.jpeg', alt: 'My crime is that of curiosity', class: 'home-img') %>
  <!-- </div> -->
  <div class="home-title">
    <h1>Hey, visitor, this is Ammy!</h1>
    <h1>I am a Fullstack Web Developer.</h1>
    <p>You are welcome to check out my projects.</p>
    <p>Don’t forget to say hi!</p>
    <p class="arrow">˅</p>
  </div>
</div>
